.searchOption {
    display: flex;
    align-items: center;
    color: var(--text-muted);
    margin-right: 20px;
    padding-bottom: 10px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    transition: color 0.1s;
}

.searchOption span {
    text-decoration: none;
    color: var(--text-muted);
    margin-top: 2px;
    margin-left: 4px;
    font-size: 13px;
}

.searchOption:hover {
    color: var(--text-primary);
}

.searchOption:hover span {
    color: var(--text-primary);
}

.searchOption--active {
    color: #1a73e8;
    border-bottom: 3px solid #1a73e8;
}

.searchOption--active span {
    color: #1a73e8;
}
